* {
  box-sizing: border-box;
}

:root {
  --fg: #000;
  --bg: #fff;
  --accent: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --fg: #fff;
  --bg: #000;
  --accent: rgba(255, 255, 255, 0.1);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--accent);
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
a {
  text-decoration: none;
}

.MuiTypography-root {
  color: var(--fg);
}

.MuiButton-label {
  color: var(--fg);
}

.MuiButton-text {
  color: var(--fg);
}

.MuiFilledInput-root {
  background-color: var(--accent) !important;
}

.MuiCard-root {
  background-color: var(--bg);
}

.MuiOutlinedInput-root {
  color: var(--fg);
}

.MuiInput-root {
  color: var(--fg);
}

.MuiInput-root::before {
  color: var(--fg);
  border-bottom: 1px solid var(--fg) !important;
}

.MuiInput-root::after {
  color: var(--fg);
  border-bottom: 1px solid var(--fg) !important;
}


.MuiInputLabel-root {
  color: var(--fg) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--fg) !important;
}

.MuiIconButton-root {
  color: var(--fg);
}

.MuiAutocomplete-option {
  color: var(--fg);
}

.MuiPaper-root {
  background-color: var(--bg);
}

.MuiCardContent-root {
  background-color: var(--bg);
}

.MuiCardActions-root {
  background-color: var(--bg);
}

.MuiToolbar-root {
  background-color: var(--bg);
}

.MuiTypography-root {
  color: var(--fg);
}


#linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  /*style={{ display: "flex", alignItems: "center" }}
  style={{ fontSize: "0.5em", fontWeight: 500, userSelect: "none" }}*/
  transition: color 0.15s;
  cursor: pointer;
}
#linkedin div {
  height: 1em;
  line-height: 1.25em;
  font-size: 0.375em;
  font-weight: 700;
  margin-left: 5px;
}
#linkedin:hover {
  color: #0072b1;
}